*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.profile_left img{
  width: 60px;
  border-radius: 50%;
  padding-left: 10px;
}

.list_name_chat img {
  width: 60px;
  border-radius: 50%;
  padding-left: 20px;
}

.position {
  color: grey;
  font-size: 20px;
  padding-right: 20px;
}

.wrapper {
  position: relative;
  background-color: pink;
  height: 100vh;
}

.background_top {
  background-color: #11897D;
  height: 20vh;
}

.background_main {
  background-color: #D3D5D0;
  height: 80vh;
}

.chat_box {
  position: absolute;
  background-color: white;
  height: 90vh;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container_left {
  width: 30%;
  height: 100%;
  float: left;
}

.container_left:after {
  clear: both;
  content: '';
  display: table;
}

.profile_chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EDE4E7;
  height: 60px;
  padding: 5px 0;
}

.notification_chat {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #84D3FA;
  height: 70px;
  padding: 10px 0;
}

.notification_left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification_left i {
  font-size: 30px;
  padding-left: 20px;
  color: white;
}

.notification_right p {
  justify-content: center;
  align-items: center;
  padding-right: 70px;
  font-size: 14px;
}

.notification_right a {
  padding-right: 70px;
  font-size: 12px;
  color: grey;
}

.search_bar {
  display: flex;
  align-items: center;
  height: 40px;
}

.search_icon {
  font-size: 20px;
  color: lightgrey;
  padding-left: 20px;
}

.wrapper_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid lightgrey;
  margin: auto;
  width: 95%;
  height: 80%;
}

.wrapper_input input {
  border: 0;
  width: 80%;
  height: 100%;

}

.list_name_chat {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: calc(100% - 165px);
  overflow-y: scroll;
}

.person_chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;;
  height: 60px;
  border: 1px solid lightgrey;
}

.info_chat {
  width: 80%;
}

.contact_name {
  text-align: left;
}

.contact_time {
  margin-right: 20px;
}

.info_chat_top {
  display: flex;
  justify-content: space-between;
}

.info_chat_bottom {
  padding-top: 5px;
  color: grey;
}

.container_right {
  float: right;
  width: 70%;
}

.current_chat {
  background-color: lightblue;
  height: 8vh;
}

.field_chat {
  background-color: lightgreen;
  height: 74vh;
}

.message_field {
  background-color: black;
  height: 8vh;
}
